*{
  background-color: bisque;
}
a {
  text-decoration: none;
  color: green;
}
header {
    text-align: center;
    height: auto;
}
header img {
    max-width: 100px;
    height: auto;
    float: left;
    border-radius: 50%;
}
header p {
  color: brown;
  font-size: 25px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: transparent;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: blue;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 1px;
  max-height: 1600px;
}
div img {
  height: 100px;
  width: 100px;
  text-align: center;
  border-radius: 50%;
}
div dl {
  width: 350px;
  display: initial;
  text-align: center;
  height: auto;
  font-size: 20px;
}
div dl dt {
  color: blueviolet;
}
div h3 {
  color: greenyellow;
  font-size: 25px;
  text-align: center;
}
div p {
    text-align: center;
    margin: 40px;
    font-size: 20px;
}
footer a {
  padding: 10px;
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {
    margin-left: 0;
    height: 2000px;
    padding: 0px;
    display: contents;
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  header img {
    float: none;
  }
  .sidebar a {
    text-align: center;
    float: none;
  }
  div.content {
    height: 2100px;
    font-size: 20px;
  }
  footer img {
    max-width: 30px;
  }
}
footer{
    text-align: center;
}
footer img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
}