
  header {
      text-align: center;
      height: auto;
  }
  header img {
      max-width: 100px;
      float: left;
      border-radius: 50%;
  }
  header p {
    color: brown;
    font-size: 25px;
  }
  /*The side navigation menu */
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: transparent;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: blue;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 1px;
    max-height: 3000px;
    
  }
  div p {
      text-align: center;
      margin: 20px;
      font-size: 20px;
      max-width: 100%;
  }
  div img {
    width: 100px;
    float: left;
    border-radius: 50%;
  }
  div dt {
    color:maroon;
  }
  div dl {
    display: inline-block;
    width: 32%;
    font-size: 20px ;
    height: auto;
  }
  
  div dd {
    display: contents;
  }
  
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {
      float: left;
    }
    div.content {
      margin-left: 0;
      font-size: 20px;
      width: 100%;
    }
    div dl {
      display: list-item;
      list-style-type: none;
      text-align: center;
      width: 100%;
      height: auto;
    }
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    header {
      height: auto;
    }
    header img {
      float: none;
    }
    .sidebar a {
      text-align: center;
      float: none;
    }
    div.content {
      font-size: 20px;
    }
    div dl {
      width: 100%;
      margin: 5px;
    }
    div img {
      float: none;
    }
    div p {
      margin: 5px;
    }
    footer img {
      max-width: 30px;
    }
  }
  footer{
      text-align: center;
  }
  footer img {
      width: 50px;
      margin: 10px;
      border-radius: 50%;
  }