
  *{
    background-color: bisque;
  }
  a {
    text-decoration: none;
    color: green;
  }
  header {
      text-align: center;
      height: auto;
  }
  header img {
      max-width: 100px;
      float: left;
      border-radius: 50%;
  }
  header p {
    color: green;
    font-size: 25px;
  }
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: transparent;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  .sidebar a {
    display: block;
    color: blue;
    padding: 16px;
    text-decoration: none;
  }
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  div.content {
    margin-left: 200px;
    padding: 1px 1px;
    max-height: 3000px;
  }
  div p {
      text-align: center;
      margin: 20px;
      font-size: 20px;
      max-width: 100%;
  }
  div img {
    width: 100px;
    float: left;
    border-radius: 50%;
  }
  div dt {
    color:maroon;
  }
  div dl {
    display: inline-block;
    width: 32%;
    font-size: 20px ;
    height: auto;
  }
  div dd {
    display: contents;
  }
  footer a {
    padding: 10px;
  }
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {
      float: left;
    }
    div.content {
      margin-left: 0;
      font-size: 20px;
      width: 100%;
    }
    div dl {
      display: list-item;
      list-style-type: none;
      text-align: center;
      width: 100%;
      height: auto;
    }
  }
  @media screen and (max-width: 400px) {
    header {
      height: auto;
    }
    header img {
      float: none;
    }
    .sidebar a {
      text-align: center;
      float: none;
    }
    div.content {
      font-size: 20px;
    }
    div dl {
      width: 100%;
      margin: 5px;
    }
    div img {
      float: none;
    }
    div p {
      margin: 5px;
    }
    footer img {
      max-width: 30px;
    }
  }
  footer{
      text-align: center;
  }
  footer img {
      width: 50px;
      margin: 10px;
      border-radius: 50%;
  }